<% @title = "Create an Account" %>
<div id="form-container">
  <h1>Create an Account</h1>
    <form action="/signup" method="post">
      <p>
        <label class="greyed" for="username">Username:</label><br>
        <input type="text" id="username" name="username">
      </p>
      <p>
          <label class="greyed" for="email">Email:</label><br>
          <input type="text" id="email" name="email">
      </p>
      <p>
          <label class="greyed" for="password">Password:</label><br>
          <input type="password" id="password" name="password">
      </p>
      <p>
        <input type="submit" value="Submit" class="submit">
      </p>
      
    </form>
</div>