<% @title = "Users" %>
<h1>Book Tracker users</h1>
<ul>
  <% User.all.each do |u| %>
  <li><a href="/users/<%= u.id %>"><%= u.username %></a> (<%= u.books.count %> <%= u.books.count == 1 ? "book" : "books"%>)</li>
  <% end %>
</ul>