<% @title = "Add New Book" %>

<div id="form-container">
  <h1>Add New Book</h1>
  <form action="/books" method="post">
    <p>
      <label for="search_term">Title or ISBN:</label><br>
      <input type="text" id="search_term" name="search_term">
    </p>
    <p>
      <input type="checkbox" id="read" name="read"> <label for="read">I've read it!</label><br>
    </p>

    <div class="hide" id="extraforms">
        <p>
            <label for="rating">Rating:</label><br>
            <select name="rating" id="rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
        </p>
        <p>
            <label for="comments">Comments:</label><br>
            <textarea name="comments" id="comments" cols="100" rows="10"></textarea>
        </p>
    </div>
    
    <p>
      <input type="submit" value="Submit">
    </p> 
  </form>
</div>
<script src="/js/checkbox.js"></script>