<% @title = "Add New Book" %>
<% if flash.has?(:message) %>
<div id="flash"><%= flash[:message] %></div>
<% end %>
<div id="form-container">
  <h1>Add New Book</h1>
  <form action="/books" method="post">
    <p>
      <label class="greyed" for="search_term">Title or ISBN:</label><br>
      <input type="text" id="search_term" name="search_term">
    </p>
    <p>
      <input type="checkbox" id="read" name="read"> <label for="read" class="read">I've read it!</label><br>
    </p>
    <div class="hide" id="extraforms">
      <label class="greyed" for="rating">Rating:</label><br>         
      <div class="select-style">
        <select name="rating" id="rating">
          <option value="1">1 star</option>
          <option value="2">2 stars</option>
          <option value="3">3 stars</option>
          <option value="4">4 stars</option>
          <option value="5">5 stars</option>
        </select>
      </div>  
      <p>
        <label class="greyed" for="comments">Comments:</label><br>
        <textarea name="comments" id="comments" cols="100" rows="10"></textarea>
      </p>
    </div>  
    <p>
      <input type="submit" class="submit" value="Submit">
    </p> 
  </form>
</div>
<script src="/js/checkbox.js"></script>