<h1>Welcome to Book Tracker!</h1>
<p class="subhead">Book Tracker is a convenient way to keep track
  of the books we've read and the books we want to read.
</p>
<p>It uses the Google Books API, so adding a new book is as
  simple as entering its title or ISBN - we'll retrieve its
  cover art and other information. Once you've read a book,
  you can add a rating and comment, so you'll never forget
  what you thought of it.</p>
<p>To get started, <a href="/login">login</a> or <a href="/signup">
create an account</a> - or, view the <a href="/users">users</a> page
to see some of the books our users have already added!</p>