<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link href="https://fonts.googleapis.com/css?family=Cabin:600|Lora:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Book Tracker - <%= @title %></title>

  <script src="js/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>  
  
</head>
<body>

  <div id="header">
    <div id="logo"><i class="fa fa-book" aria-hidden="true"></i> Book Tracker</div>
    <div id="links">
      <a href="/">Home</a> &nbsp;&nbsp;
      |&nbsp;&nbsp; <a href="/users">Users</a> &nbsp;&nbsp;
      
      <% if logged_in? %>
      |&nbsp;&nbsp; <a href="/books/new">Add New Book</a>  &nbsp;&nbsp;    
      |&nbsp;&nbsp; <a href="/logout">Logout</a>
      <% else %>
        |&nbsp;&nbsp; <a href="/login">Log In</a> &nbsp;&nbsp;
        |&nbsp;&nbsp; <a href="/login">Signup</a>
      <% end %>
    </div>
  </div>

  <div id="content">
    <div id="container">
        <h1><%= @title %></h1>
        <%= yield %>
        <hr>
        <div id="footer">Designed and coded by Cecily</div>
      
      </div>
  </div>

  
  <script src="js/script.js"></script>
</body>
</html>